# Application environment (optional, default: PROD)
ENV=

# Application name (optional, default: taskflow)
APP_NAME=

# Port number on which the application will run (optional, default: 1337)
APP_PORT=

# Database connection URL
DB_URL=

# Secret key for JWT authentication (generate using: openssl rand -hex 32)
JWT_SECRET=
